.background-example {
    width: 400px;
    height: 300px;
    border: 2px solid #000;

/* Background Properties */
    background-color: lightblue;
    background-image: url("https://via.placeholder.com/150"), linear-gradient(to right, red, yellow); /* Sets multiple background images*/
    background-repeat: no-repeat, repeat;
    background-position: top left, center; /* Sets background images positions */
    background-size: 50px 50px, cover;
    background-attachment: scroll, fixed;

/* Border Properties */
border-width: thin, medium, thick;
border-color: violet, #ee82ee,hwb(300 51% 7%), rgb(238, 130, 238);
border-style: dotted none solid dashed; /* Top right bottom left respectively */
border-style: solid dashed double;  /* Top right & left bottom respectively */
border-style: dotted dashed;  /* Top & Bottom Right & Left respectively */

/* CSS Box Model */
padding: 10px 20px;
margin: 20px 40px;

/* Display Properties - Structures the layout */
display: block, inline, inline-block;

/* Position Properties - Structures the layout  */
position: static, fixed, relative, absolute;

/* CSS Units

Relative: rem, em, ex, ch, vh, vw, % - MAkes the pages responsive.
Absolute: px, pc, pt, cm, mm, in.
rem- relative to the font size of the root element i.e html{font-size: 20px;} => 1rem = 20px, 
mm,cm,in - Good for print, not so good for web
px - absolute pixel value(relative to the viewing device) i.e: 1px = 1/96th of 1in

*/


}

